:root { 
    --c-text: #005240;
    --c-text-green: #c4dcc4;
    --c-text-light: #fcfaf2;
    --c-text-dark: #0c0f0f;
    --c-background: #fff;
    --c-border: #005240;
    --c-primary: #005240;
    --c-bg-yellow: #ffe89e;
    --c-bg-yellow-dark: #fedd74;
    --c-bg-pink: #ffc6de;
    --c-bg-pink-med: #fa97f1;
    --c-bg-pink-dark: #e458d7;
    --c-bg-green: #c4dcc4;
    --c-bg-green-dark: #005240;
    --c-bg-blue: #b6e0e0;
    --c-bg-blue-dark: #49a2a2;
    --c-bg-orange: #ff6e2e;
    --c-bg-orange-light: #fd9c72;
    --c-bg-red: #ff6867;
    --c-bg-red-dark: #f74c4b;
    --c-bg-xdark: #de3535;
    --c-bg-black: #0c0f0f;
    --c-bg-sand: #fcfaf2;
    --c-highlight: #fcfaf2;
    --c-highlight-yellow: #fedd74;
    --c-highlight-pink: #fa97f1;
    --c-muted: #fcfaf2;
    --c-warning: #ffe89e;
    --c-error: #f74c4b;
    --c-message: #c4dcc4;
    --c-accent: #005240;
    --c-accent-high: #c4dcc4;
    --c--darkBrown: #573827;
    --c--lightBrown: #a06748;
}



.reporte-usuarios-container {
  width: 100%; /* ocupa todo el ancho */
  padding: 7rem 0.5rem;
  background-color: var(--c-bg-pink);
}

.filtro-usuarios-input {
  display: block;
  width: 80%;         /* antes: 100% */
  max-width: 70rem;   /* limita el ancho máximo */
  margin: 3rem auto;  /* centra horizontalmente */
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--c-bg-red);
  background-color: var(--c-background);
  font-size: 1rem;
  color: var(--c-bg-black);
  box-sizing: border-box;
}

.filtro-usuarios-input:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(59, 29, 29, 0.123);
}

.tabla-usuarios-container {
  width: 80%;
  max-width: 70rem;
  margin: 2rem auto; /* centra */
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.329);
  overflow-x: auto;
}

.tabla-usuarios {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--c-background);
}

.thead-usuarios {
  background-color: var(--c-bg-red);
  color: var(--c-bg-pink);
}

.th-usuarios {
  padding: 0.75rem 1.5rem;
  text-align: left;
  font-size: 0.875rem;
  font-weight: 600;
}

.tbody-usuarios {
  color: var(--c-bg-black);
  border-top: 1px solid var(--c-background);
  border-bottom: 1px solid var(--c-background);
}

.tr-usuarios {
  border-bottom: 1px solid var(--c-bg-pink);
}

.td-usuarios {
  padding: 1rem 1.5rem;
  white-space: nowrap;
}



.reporte-usuarios-hero {
  width: 100vw;
  height: 60vh;
  background-color: var(--c-bg-red);
  display: flex;
  align-items:flex-end;
  justify-content: flex-start;
  padding: 4rem;
}

.reporte-usuarios-titulo {
  font-family: 'Nunito', sans-serif;
  font-size: 4rem; /* text-4xl aprox */
  font-weight: bold;
  color: var(--c-bg-pink);
  margin: 0;
}